.btn-primary {
  display: inline-block;
  line-height: 4.8rem;
  background-color: $brand-yellow;
  padding: 0 2.6rem;
  border-radius: 122px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #855b35;
  transition: background-color 0.3s;

  &:hover {
    background-color: #FFDC5C;
  }
}

.btn-secondary {
  display: inline-block;
  border: 1px solid #00A5F0;
  line-height: 4.8rem;
  background-color: transparent;
  padding: 0 2.6rem;
  border-radius: 122px;
  font-family: 'Poppins', sans-serif;

  &:hover {
    background-color: $brand-light-blue;
    color: #FFF;
  }
}