header {
  background: #0073CE;

  .container {
    @include flex(row, center, space-between);
  }

  nav {
    @include flex(row, center, space-between);
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      margin-right: 5.9rem;

      // gap: 4.8rem;
      li {
        &:not(:first-child) {
          margin-left: 4.8rem;
        }

        a {
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 125%;
          color: $white;
        }
      }
    }
  }
}