header {
  background: #0073CE;

  .container {
    @include flex(row, center, space-between);
  }

  nav {
    @include flex(row, center, space-between);
    align-items: center;

    ul {
      display: flex;
      align-items: center;
    }
  }
}